.reservation-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.update-button,
.delete-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.update-button {
  background-color: #28a745;
  color: white;
}

.update-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}
